input, label {
  display:block;
  
}

.address{
 margin-left:20px;
}
.addressBar {
  width: 45vw;
  height: 50px;
  margin-left: 20px;
  
}

button {
  border-top: 0;
  cursor: pointer;
  margin-left:20px;
  /* font-size: 20px; */
}

.emerald {
  margin-right: 10px;
  width: 300px;
  outline: none;
  background: #08c991;
  border-bottom:#08c991 3px solid;
  border-left:#08c991 1px solid;
  border-right:#08c991 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 24px;
  font-weight: 400;
}

.emerald:hover {
  opacity: 0.8;
}

.emerald:active {
  margin-right: 10px;
  width: 200px;
  background: #2BBB68;
  border-bottom: #27ae60 1px solid;
  border-left: #27ae60 1px solid;
  border-right: #27ae60 1px solid;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 3px;
}