.custom-logo {
  height: 30px;
  width:82px;
}

.App-header {
  background-color: white;
  height: 3.3vh;
  width:100vw;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.custom-logo-link{
  float: left !important;
  clear: none !important;
}

@media screen and (min-width: 48em)
  {
    .custom-logo-link {
      padding-right: 2em;
    }
  }

.custom-logo-link {
  display: inline-block;
  padding-right: 1em;
  vertical-align: middle;
  width: auto;
}
